{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_projetvet/form/element_html

    HTML display element - displays static HTML content with dynamic filters.

    Overrides core_form/element-template so that when the element has no label
    (labelcolumn === false) the label column is omitted entirely and the content
    spans the full form width. When a label is present the standard 3/9 row is
    kept.

    Example context (json):
    {
        "label": "",
        "required": false,
        "advanced": false,
        "helpbutton": "",
        "error": null,
        "element": {
            "id": "id_field_123",
            "wrapperid": "fitem_id_field_123",
            "iderror": "id_error_field_123",
            "name": "field_123",
            "type": "html",
            "label": "",
            "labelcolumn": false,
            "staticlabel": true
        },
        "id": "id_field_123",
        "content": "Henry Chateau<br>Si le tuteur n'est pas le bon, contacter la DEVE",
        "dataattributes": [
            {"key": "data-action", "value": "suggestedects"},
            {"key": "data-string", "value": "suggestedects_hours"},
            {"key": "data-cmid", "value": "123"}
        ],
        "hasaction": true
    }
}}
<div id="{{element.wrapperid}}" class="mb-3 row {{#error}}has-danger{{/error}} fitem {{#element.emptylabel}}femptylabel{{/element.emptylabel}} {{#advanced}}advanced{{/advanced}} {{{element.extraclasses}}} {{{element.parentclasses}}}" {{#element.groupname}}data-groupname="{{.}}"{{/element.groupname}}>
    {{#labelcolumn}}
    <div class="col-md-3 col-form-label d-flex pb-0 pe-md-0">
        {{# label}}{{$ label }}
            {{^element.staticlabel}}
                <label id="{{element.id}}_label" class="d-inline word-break {{#element.hiddenlabel}}visually-hidden{{/element.hiddenlabel}}" for="{{element.id}}">
                    {{{label}}}
                </label>
            {{/element.staticlabel}}
            {{#element.staticlabel}}
                <span class="d-inline-block {{#element.hiddenlabel}}visually-hidden{{/element.hiddenlabel}}">
                    {{{label}}}
                </span>
            {{/element.staticlabel}}
        {{/ label }}{{/ label}}
        <div class="form-label-addon d-flex align-items-center align-self-start">
            {{#required}}
                <div class="text-danger" title="{{#str}}required{{/str}}" aria-hidden="true">
                    {{#pix}}req, core{{/pix}}
                </div>
            {{/required}}
            {{{helpbutton}}}
        </div>
    </div>
    {{/labelcolumn}}
    <div class="{{#labelcolumn}}col-md-9{{/labelcolumn}}{{^labelcolumn}}col-md-12{{/labelcolumn}} d-flex flex-wrap align-items-start felement" data-fieldtype="{{element.type}}">
        {{$ element }}
            <div class="form-html-display" id="{{id}}" {{#dataattributes}}{{key}}="{{value}}" {{/dataattributes}}>
                <div class="form-html-content">
                    {{{content}}}
                </div>
                {{#hasaction}}<div class="mt-1 text-muted" id="{{id}}_suggestion"></div>{{/hasaction}}
            </div>
        {{/ element }}
        <div class="form-control-feedback invalid-feedback" id="{{element.iderror}}" {{#error}} style="display: block;"{{/error}}>
            {{{error}}}
        </div>
    </div>
</div>
{{#js}}
require(['theme_boost/form-display-errors'], function(module) {
    module.enhance({{#quote}}{{element.id}}{{/quote}});
});
{{/js}}
