{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_projetvet/form/selected_students

    Selected students list for teacher assignment form.

    Context variables required for this template:
    * students - Array of student objects with 'name' property
    * studentcount - Number of students selected

    Example context (json):
    {
        "studentcount": 3,
        "students": [
            {"name": "John Doe"},
            {"name": "Jane Smith"},
            {"name": "Bob Johnson"}
        ]
    }
}}
<div class="selected-students-list">
    <div class="">
        <h5>{{#str}}selectedstudents, mod_projetvet, {{studentcount}}{{/str}}</h5>
        <ul class="list-unstyled mb-0">
            {{#students}}
            <li>{{name}}</li>
            {{/students}}
        </ul>
    </div>
</div>
