{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_projetvet/notification_entry_action_required

    Entry action required notification template.

    Context variables required for this template:
    * istutor - Boolean, true if recipient is a tutor
    * isstudent - Boolean, true if recipient is a student
    * studentname - String, the student's full name (for tutor notifications)
    * entrytitle - String, the title of the entry
    * statustext - String, HTML formatted status text
    * linkurl - String, URL to view the entry

    Example context (json):
    {
        "istutor": true,
        "isstudent": false,
        "studentname": "John Doe",
        "entrytitle": "Clinical observation report",
        "statustext": "Pending review",
        "linkurl": "https://example.com/mod/projetvet/view.php?id=123"
    }
}}
<div>
    <img src="{{>mod_projetvet/emails/logo}}" alt="Logo" style="max-width: 200px; margin-bottom: 20px;">

    {{#istutor}}
        <p>{{#str}}notification_intro_tutor, mod_projetvet, {{studentname}}{{/str}}</p>
    {{/istutor}}
    {{#isstudent}}
        <p>{{#str}}notification_intro_student, mod_projetvet{{/str}}</p>
    {{/isstudent}}

    <p><strong>
        {{#istutor}}
            {{#str}}notification_action_tutor, mod_projetvet{{/str}}
        {{/istutor}}
        {{#isstudent}}
            {{#str}}notification_action_student, mod_projetvet{{/str}}
        {{/isstudent}}
    </strong></p>

    <table role="presentation">
        <tbody>
            <tr>
                <th scope="row" style="text-align: left; padding-right: 10px;">{{#str}}entry, mod_projetvet{{/str}}</th>
                <td>{{entrytitle}}</td>
            </tr>
            <tr>
                <th scope="row" style="text-align: left; padding-right: 10px;">{{#str}}status, mod_projetvet{{/str}}</th>
                <td>{{{statustext}}}</td>
            </tr>
        </tbody>
    </table>

    <p><a href="{{linkurl}}">{{#str}}openprojetvet, mod_projetvet{{/str}}</a></p>

    <p>{{#str}}notification_footer, mod_projetvet{{/str}}</p>
</div>
